@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Signika+Negative&family=Work+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    /* background: aliceblue; */
}
.gradientColor{
    /* background: rgb(218,255,146); */
    background-color: #323131;
    /* background: linear-gradient(162deg, rgba(218,255,146,1) 0%, rgba(147,100,0,1) 0%, rgba(255,144,0,1) 100%); */
}
.superbackImage{ 
    background: url("../public/web/superBackground.png");
    height: "100vh";
    width: "100vw";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.superbackImageTwo{ 
    background: url("../public/web/sideBarWave.png");
    height: "100vh";
    width: "100%";
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size:auto;
}
.superbackImageThree{ 
    background: url("../public/web/footerImage.png");
    height: "auto";
    width: "100vw";
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size:contain;
}
/* .hero {
    
} */